.experienceItem {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1 1 47%;
    max-width: 700px;
    flex-wrap: wrap;
    gap: var(--gap-lg);
    background-color: var(--card-bg);
    border: var(--border-profile-button);
    border-radius: 2rem;
    padding: var(--mp-lg);
    transition: transform var(--transition);
    text-align: center;
    color: var(--contrast-color);
}

.experiencePosition {
    flex: 1 1 100%;
    font-size: var(--fs-3xl);
    margin-bottom: var(--mp-xs);
}

.experienceCompany {
    font-weight: var(--font-weight-bold);
}

.experienceDates {
    flex: 0 0 150px;
    font-weight: 500;

}

.experienceShortDescription {
    flex: 1;
    margin-top: var(--mp-xm);
    text-align: justify;
    width: 100%;
}

.skillsContainer {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--gap-lg);
    justify-content: space-around;
    margin: var(--mp-xs) 0;
    padding: 0 var(--mp-md);
}

.skillButton {
    display: flex;
    max-width: 13.5rem;
    max-height: 3rem;
    align-items: center;
    gap: var(--gap-xm);
    color: var(--contrast-color);
}

.skillIcon {
    max-width: 48px;
}

.skillTitle {
    font-size: var(--fs-lg);
    font-weight: var(--font-weight-bold);
}

.moreButton {
    background-color: var(--contrast-color);
    width: 95%;
    min-height: 3rem;
    color: var(--bg-color);
    font-size: var(--fs-xl);
    border: none;
    padding: var(--mp-xm) var(--mp-md);
    border-radius: 2rem;
    cursor: pointer;
    transition: opacity var(--transition);
    margin-top: auto;
}

.moreButton:hover {
    opacity: 0.9;
}

.experienceModal {
    max-width: 50%;
    max-height: 50%;
}

@media (max-width: 800px) {
    .experienceModal {
        max-width: 85%;
    }
}

@media (max-width: 600px) {
    .experienceModal {
        max-width: 90%;
    }
}