.projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    min-width: 400px;
    width: 100%;
    padding: var(--mp-lg);
    background-color: var(--card-bg);
    overflow: hidden;
    border: var(--border-profile-button);
    border-radius: 2rem;
    transition: transform var(--transition);
    gap: var(--gap-lg);
}

.projectCard img {
    width: 95%;
    object-fit: cover;
    border-radius: 2rem;
}

.projectCard p {
    text-align: justify;
    width: 95%;
    flex: 1;
}

.projectCard button {
    background-color: var(--contrast-color);
    width: 95%;
    min-height: 3rem;
    color: var(--bg-color);
    font-size: var(--fs-xl);
    border: none;
    padding: var(--mp-xm) var(--mp-md);
    border-radius: 2rem;
    cursor: pointer;
    transition: opacity var(--transition);
}

.projectCard button:hover {
    opacity: 0.9;
}

.projectCardModal {
    max-width: 80%;
    max-height: 75vh;
}

.moreButton {
    margin-top: auto;
}