.navMenu {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    justify-content: center;
}

.nav {
    display: flex;
    width: fit-content;
    flex-direction: row;
}

.nav li {
    display: flex;
    align-content: center;
}

.navButton {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: var(--font-size-header);
    cursor: pointer;
}

.navButton:hover {
    border-bottom: 2px solid transparent;
    border-bottom-color: var(--contrast-color);
}