h1 {
    text-align: center;
}

.projectModalContent {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.projectFormContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 5rem;
}

.projectFormDescriptionContainer {
    max-width: 55%;
    max-height: 70vh;
    text-align: justify;
    overflow-y: auto;
    padding-right: 1.5rem;
}

.projectFormInfo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 45%;
}

.projectFormButtonsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    white-space: nowrap;
    gap: 1rem;
}

.projectFormButtonsContainer .projectButton {
    background-color: var(--contrast-color);
    color: var(--bg-color);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    text-decoration: none;
    transition: opacity var(--transition);
}

.projectLinks {
    margin: 1.5rem 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.projectLinks a:hover {
    opacity: 0.9;
}

.imageSliderContainer {
    display: flex;
    justify-content: center;
    text-align: center;
}