.aboutSectionContentContainer {
    display: flex;
    min-height: 100%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: stretch;
    gap: var(--gap-xl);
}

.aboutImageContainer {
    min-width: var(--min-image-width);
    max-width: var(--max-image-width);
}

.aboutPic {
    width: 100%;
    border-radius: var(--image-border-radius-small);
}

.aboutInfo {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    gap: var(--gap-lg);
    font-size: var(--fs-xl);
}

.aboutDetailContainers {
    display: flex;
    gap: var(--gap-lg);
    font-size: var(--fs-lg);
}

.detailContainer{
    min-width: 250px;
}

.aboutSummary {
    text-align: justify;
    text-indent: var(--gap-md) each-line;
}

@media (max-width: 1100px) {
    .aboutSectionContentContainer {
        flex-direction: column;
        gap: var(--gap-xl);
        align-items: center;
    }
    .aboutInfo {
        gap: var(--gap-xl);
    }
}

@media (max-width: 600px) {
    .aboutDetailContainers {
        flex-direction: column;
    }
}