.aboutSectionContentWrapper {
    display: flex;
    min-height: 100%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    gap: 3rem;
}

.aboutImageContainer {
    min-width: var(--min-image-width);
    max-width: var(--max-image-width);
}

.aboutPic {
    height: 100%;
    width: 100%;
    border-radius: var(--image-border-radius-medium);
}

.aboutInfo {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    gap: 3rem;
}

.aboutDetailContainers {
    display: flex;
    gap: 2rem;
}