.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 17vh;
    top: 0;
    background-color: var(--bg-color);
    z-index: 100;
}

.logo {
    font-size: var(--fs-3xl);
    color: var(--contrast-color);
}

.navContainer {
    display: flex;
    justify-items: center;
    gap: var(--gap-lg);
}

.controlsContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: var(--gap-lg);
}
